* {
  cursor: default;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}
body {
  background: #f1c40f;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  /* border-radius: 50%; */
}

p {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}